.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
  margin-top: 1rem;
  display: grid;
  height: 500px;
  width: 500px;
  font-size: 30;
}
.cell {
  border: none;
}
.title {
  font-size: 24;
}
.scores {
  display: flex;
  justify-content: space-evenly;
}
.score {
  margin-top: 1rem;
}
.highscore {
  margin-top: 1rem;
}
